@import "bootstrap/variables";

// make CSS breakpoints available for use in JS
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: "xs";
  @media (min-width: $screen-sm-min) { content: "sm"; }
  @media (min-width: $screen-md-min) { content: "md"; }
  @media (min-width: $screen-lg-min) { content: "lg"; }
}

[data-teleport]:empty {
  display: none;
}
